
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url("https://i.imgur.com/ak9eXSX.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background: rgba(245, 255, 245, 0.6);
    max-width: 70%;
    margin: 5% auto;
    padding: 20px;
    
}

h1 {
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

#img-div {
    margin: 0 auto;
}

#image {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 500px;
}

#img-caption {
    text-align: center;
}

ul {
    padding: 0;
}

h2 {
    text-align: center;
}

li {
    list-style: none;    
}

.profile {
    max-width: 300px;
    margin: 0 auto;
}

.awards {
    text-align: center;
}

h3 {
    text-align: center;
}